name: CI-CD-Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build Docker Image
        run: |
          IMAGE_TAG=latest
          docker build -t ${{ secrets.ECR_REPO }}:$IMAGE_TAG .

      - name: Push Docker Image to ECR
        run: |
          IMAGE_TAG=latest
          docker push ${{ secrets.ECR_REPO }}:$IMAGE_TAG

      - name: Deploy to Amazon ECS
        run: |
          aws ecs update-service \
            --cluster my-ecs-cluster \
            --service myapp-service \
            --force-new-deployment \
            --region us-east-1

